{
	"root": true,
	"env": {
		"node": true
	},
	"extends": [
		"plugin:vue/vue3-recommended",
		"eslint:recommended",
		"@vue/typescript/recommended",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"rules": {
		"no-duplicate-imports": "error",
		"sort-imports": "warn"
	}
}
