*,
*::after,
*::before {
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: oklch(95.28% 0.007 277.16);
	background: color-mix(in oklab, transparent 63%, var(--color-primary-light));
}

body {
	padding-top: var(--toolbar-height);
	padding-bottom: var(--navbar-height);
	flex: 1;
}

:is(*, *::after, *::before):focus-visible {
	outline: 2px solid coral;
}

button {
	font-weight: 500;
	font-size: inherit;
	color: inherit;
	text-transform: inherit;
	background: none;
	padding: 0;
	border: none;
}

button:not(:disabled) {
	cursor: pointer;
}

.container {
	width: min(900px, 100%);
	margin: 0 auto;
}

.noselect,
summary {
	-webkit-touch-callout: none;
	user-select: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.flex {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
}

summary {
	cursor: pointer;
}

.link {
	color: blue;
	text-decoration: underline;
}

*::-webkit-scrollbar {
	display: none;
}
